body {
    height     : 100vh;
    overflow   : hidden;
    margin     : 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#navigation {
    width: fit-content;
    margin-bottom: 20px;
}

main {
    height        : 100%;
    margin        : 100px;
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

#timetable {
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

form,
datalist,
input[type="file"] {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size  : 12px !important;
}

.custom-file-input::-webkit-file-upload-button {
    display: none;
}

.custom-file-input::before {
    content            : 'Choose file';
    display            : inline-block;
    border             : 1px solid #999;
    border-radius      : 3px;
    padding            : 5px 8px;
    margin             : 5px;
    outline            : none;
    white-space        : nowrap;
    -webkit-user-select: none;
    font-family        : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size          : 12px !important;
}

.custom-file-input:hover::before {
    border-color: black;
}

.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

form {
    max-width: 150px;
}